.ibtn-custom {
    transition: all 0s ease !important;
    &.active { 
        background-color: #f3f3f3;
    }
}
body {
    padding: 0 !important;
    margin: 0 auto;
}
.mini-cropper-wrapped {
    height: 250px;
    display: flex;
    align-items: center;
}
.custom-login-input {
    input {
        background-color: #FFF !important;
        padding: 8px !important;
        min-height: 0 !important;
        margin-bottom: 0 !important;
    }
}