.custom-table {
    .ctc.product-name .name {
        font-weight: 600;
        font-size: 14px;
    }
    .ctc.product-price .amount,
    .ctc.product-subtotal .amount{
        font-weight: 600;
    }
    .cth {
        font-weight: 600;
        font-size: 14px;
    }

}
.custom-cart-variation p{
    margin: 0;
}
.custom-cart-variation .value p{
    font-weight: 600;
}