.ibtn-custom {
    transition: all 0s ease !important;

    &.active {
        background-color: #f3f3f3;
    }
}

body {
    padding: 0 !important;
    margin: 0 auto;
}

.mini-cropper-wrapped {
    height: 250px;
    display: flex;
    align-items: center;
}

.custom-login-input {
    input {
        background-color: #FFF !important;
        padding: 8px !important;
        min-height: 0 !important;
        margin-bottom: 0 !important;
    }
}

.custom-box-checkout {
    display: flex;
    gap: 1rem;

    .image-box {
        width: 120px;
        height: 120px;

        img {
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }

    .data-box {
        p {
            margin: 10px;
            font-size: 14px;
            font-family: 'Quicksand';
        }
    }

    align-items: center;
}

.data-box {
    ul {
        margin: 0;
    }
}

.custom-show-shipping {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .shipping-method-label {
        font-weight: 600;
        font-family: "Quicksand";
        font-size: 14px;
        padding-left: 10px;
    }

    .outlet-select {
        width: 250px;
        text-wrap: wrap;
        font-size: 14px;
        padding: 10px;
        padding-right: 30px;
        min-height: 30px;

        option {
            text-wrap: wrap;
            padding: 10px;
        }
    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;

        .outlet-select {
            width: 100%;
        }
    }
}

// Preview photobook

.preview-container {
    margin-bottom: 50px;
    .preview-item {
        display: flex;
        margin-bottom: 50px;
        gap: 20px;

        .preview-file,
        .preview-info {
            width: 49%;

            @media (max-width: 728px) {
                width: 100%;
            }
        }

        .preview-btns {
            .p-btn-primary {
                &:hover {
                    background-color: #d71c0e;
                }
            }

            .p-btn-secondary {
                background-color: #83D2BF;
                border-color: #83D2BF;
                border-radius: 0;
                &:hover {
                    background-color: #fd604f;
                }
            }
        }
    }
}

.accepted {
    padding: 10px 20px;
    background-color: #aaff8f;
    font-weight: 600;
}